<div class="container">
  <br />
  <div class="mb-3 mt-3 row">
    <div class="offset-sm-1 col-sm-4">
      <div class="input-group">
        <button class="input-group-text" id="basic-addon1" (click)="search()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
        <input
          type="search"
          class="form-control"
          placeholder="Buscar"
          aria-label="Buscar"
          aria-describedby="basic-addon1"
          #name="ngModel"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
    <div class="offset-sm-1 col-sm-4">
      <div class="input-group">
        <ais-instantsearch [config]="config">
          <ais-search-box></ais-search-box>
          <ais-hits>
            <ng-template let-hits="hits">
              <ol class="ais-Hits-list">
                <li *ngFor="let hit of hits" class="ais-Hits-item">
                  {{ hit.name }}
                </li>
              </ol>
            </ng-template>
          </ais-hits>
        </ais-instantsearch>

        <button class="input-group-text" id="basic-addon1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
        <input
          type="search"
          class="form-control"
          id="inputPassword"
          id="searchalgolia"
          placeholder="Buscar con algolia"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="mb-3 row" [hidden]="hidden">
    <div class="offset-sm-2 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of infoImages">
            <th scope="row">{{ info.id }}</th>
            <td colspan="2" class="table-active">
              <img
                width="120px"
                class="rounded mx-auto d-block"
                src="{{ info.archivo }}"
                alt=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
